greeting {
    font-size: 40px;
    text-align: center;
    color: coral;
}
extention{
    display: block;
    font-size: 40px;
    text-align: center;
    color: yellow;
}
puestion{
    display: block;
    font-size: 40px;
    text-align: center;
    color: fuchsia;
}
Hello{
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    margin-left: 802px;
}
extention1{
    display: block;
    font-size: 40px;
    text-align: center;
    color: darkkhaki;
}
